body{
    margin:auto;
    width: auto;
    height: auto;
    font-family: Roboto, sans-serif;
}
table{ 
    border: 2px solid;
    text-align: center;
}
th, tbody{
    font-size: 10px;
}
caption{
    font-size: 15px; 
}
td{
    border: 2px solid;
}
img{
    max-width: 200px; 
    height: 200px; 
    width: 200px; 
    margin-left: 20px; 
    margin-right: 20px;
}