body{
    border: 13px solid #3A3A3A; 
    box-sizing: border-box; 
    margin: auto; 
    padding: 0; 
    width: 210mm; height:297mm
  }
  #cabecera{
    text-align: center;
    font-family: Roboto, sans-serif;
  }
  #divisor-cabecera{
    background-color: #3A3A3A;
    width: 107px;
    height: 5px;
    display: inline-block;
  }
  #nombre{
    font-size: 45px;
  }
  #titulo{
    font-size: 20px;
  }
  #divisor{
    text-align: center;
    background-color: #3A3A3A;
    width: 193mm;
    height: 5px;
    display: inline-block;
  }
  #perfil{
    text-align: center;

  }
  #cuerpo{
    display: flex;
  }
  img{
    max-width: 150px; 
    width: 150px; 
    margin-left: 20px; 
    margin-right: 20px;
    margin-bottom: 20px;
  }
  #parrafo{
    text-align: left; 
    font-size: 15px; 
    font-family: Roboto, sans-serif; 
    margin: 20px
  }
  table{
    text-align: left; 
    width: 193mm; 
    margin-left: 20px; 
    margin-right: 20px; 
    border: #3A3A3A solid;
  }
  thead{
    text-align: left; 
    font-size: 11px; 
    font-family: Roboto, sans-serif;
  }
  td{
    text-align: left; 
    font-size: 11px; 
    font-family: Roboto, sans-serif;
  }