body{
    border: 2px solid blue;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    width: 210mm; height: 297mm;
  }

  img{
    max-width: 150px;
    width: 150px;
  }

  td{
    text-align: left;
    font-size: 15px;
    font-family: Roboto, sans-serif;
  }

  #foto{
    width: auto;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
  }

  #datos{
    width: 208mm;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
  }

  #cuerpo{
    display: flex;
  }

  #objetivo{
    float: left; 
    width: 100mm; 
    margin-top: 1px; 
    margin-left: 2px; 
    margin-right: 20px; 
    border: solid;
  }
  
  #antecedentes{
    float: right; 
    width: 100mm; 
    height: 212mm; 
    margin-top: 1px; 
    margin-left: auto; 
    margin-right: 3px; 
    border: solid;
  }